.scatter {
  border-width: 2px;
  border-color: var(--primary-accent);
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pointable:hover {
  border-color: var(--secondary-accent);
  background-color: var(--grey-trivial);
  transition:
    border-width 0.25s,
    transform 0.25s;
}

.innerStyle {
  border-width: 1px;
  border-color: var(--grey-regular);
  border-style: solid;
  background-color: var(--secondary-trivial);
  cursor: default;
}

.pointable {
  cursor: pointer;
}

.inner {
  position: absolute;
  transition:
    top 0.25s,
    left 0.25s,
    transform 0.25s;
}

.middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
