:root {
  --gap-xsmall: 2px;
  --gap-small: 4px;
  --gap-medium: 8px;
  --gap-large: 12px;
  --gap-xlarge: 20px;

  --font-strong-xxlarge: 600 36px/48px Verdana, sans-serif;
  --font-strong-xlarge: 600 24px/36px Verdana, sans-serif;
  --font-strong-large: 600 16px/18px Verdana, sans-serif;
  --font-strong-medium: 600 12px/14px Verdana, sans-serif;
  --font-strong-small: 600 10px/12px Verdana, sans-serif;
  --font-regular-xlarge: 450 24px/36px Verdana, sans-serif;
  --font-regular-large: 450 16px/18px Verdana, sans-serif;
  --font-regular-medium: 450 12px/16px Verdana, sans-serif;
  --font-regular-small: 450 10px/12px Verdana, sans-serif;
  --font-large: 450 16px/18px Verdana, sans-serif;
  --font-medium: 450 12px/16px Verdana, sans-serif;
  --font-small: 450 10px/12px Verdana, sans-serif;
  --font-weak-large: 300 16px/18px Verdana, sans-serif;
  --font-weak-medium: 300 12px/14px Verdana, sans-serif;
  --font-weak-small: 300 10px/12px Verdana, sans-serif;
  --font-flex-strong-xxxlarge: 600 22vmin/25vmin Verdana, sans-serif;
  --font-flex-strong-xlarge: 600 12vmin/14vmin Verdana, sans-serif;
}

:root[data-theme="light"] {
  --primary-accent: #11124b;
  --primary-regular: #1a1cad;
  --primary-trivial: #3336f5;
  --secondary-accent: #0a3f31;
  --secondary-regular: #0f5b47;
  --secondary-trivial: #24b18c;
  --grey-accent: #505050;
  --grey-regular: #929292;
  --grey-trivial: #cfcfcf;
  --background: #daece6;
  --font-color: #060000;
}

:root[data-theme="dark"] {
  --primary-accent: #3336f5;
  --primary-regular: #1a1cad;
  --primary-trivial: #11124b;
  --secondary-accent: #24b18c;
  --secondary-regular: #0f5b47;
  --secondary-trivial: #0a3f31;
  --grey-accent: #cfcfcf;
  --grey-regular: #929292;
  --grey-trivial: #505050;
  --background: #060000;
  --font-color: #daece6;
}
