.peertile {
  justify-items: center;
  height: 100%;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-medium);
  height: 100%;
}

.nullCard {
  border-style: none;
  background-color: var(--background);
  background: var(--background);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
