.peertile {
  justify-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: var(--gap-small);
}

.contents {
  padding: var(--gap-small);
  display: flex;
  border: 1px solid var(--grey-regular);
  gap: var(--gap-medium);
  border-radius: var(--gap-xlarge);
  flex-direction: column;
  justify-content: center;
}

.scatter {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: var(--gap-small);
}

.lurk {
  margin-top: var(--gap-medium);
}
