.peertile {
  justify-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: var(--gap-small);
  max-width: 200px;
}

.contents {
  padding: var(--gap-small);
  display: flex;
  border: 1px solid var(--grey-regular);
  gap: var(--gap-large);
  border-radius: var(--gap-medium);
  flex-direction: column;
  justify-content: center;
}

.scatter {
  display: flex;
  flex-direction: row;
  justify-items: space-between;
}

.name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: var(--gap-medium);
  font: var(--font-regular-large);
}

.controls {
  display: flex;
  flex-direction: row;
  gap: var(--gap-small);
}

.hide {
  opacity: 0;
}

.lurk {
  margin-top: var(--gap-large);
  opacity: 1;
  transition:
    opacity 0.25s,
    transform 0.25s;
}
